* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
  font-family: 'Black Han Sans', sans-serif; /* Black Han Sans 폰트를 전체 페이지에 적용 */
}